@font-face {
  font-family: "Geneva_Regular";
  /* src: url("../fonts/Geneva Regular.eot"); */
  src: local("☺"), url("../fonts/Geneva Regular.woff") format("woff"),
    url("../fonts/Geneva Regular.ttf") format("truetype"),
    url("../fonts/Geneva Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans";
  src: url("../fonts/GillSans.eot");
  src: local("☺"), url("../fonts/GillSans.woff") format("woff"),
    url("../fonts/GillSans.ttf") format("truetype"),
    url("../fonts/GillSans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticabold";
  src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"),
    url("../fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helveticaregular";
  src: url("../fonts/helvetica-webfont.woff2") format("woff2"),
    url("../fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
