html,
body {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "../assets/css/fonts.css";

.h1Heading {
  font-size: 24px;
  color: #000;
  font-family: "Geneva_Regular";
  margin-bottom: 0px;
}
.h1headingline {
  width: 200px;
  height: 3px;
  background: #13aad0;
  display: inline-block;
}

.small_para {
  font-size: 14px;
  color: #000;
  font-family: "Geneva_Regular";
}
.formWrapper_onboard {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}
.top_formHeight {
  width: 100%;
  height: 60px;
  position: relative;
  padding: 10px 20px;
  border-bottom: 0px solid red;
}
.custProgress .progress-bar {
  background-color: #87c659;
}

.custProgress {
  background-color: #cdcece;
}
.heading_name span {
  width: 24px;
  height: 28px;
  margin-right: 10px;
}
.heading_name {
  font-family: "helveticabold";
  font-size: 18px;
  color: #0b4858;
  display: inline-block;
  vertical-align: text-top;
  margin: 0px;
  padding: 0px 0px;
}
.ul_step {
  list-style: none;
  display: block;
  text-align: right;
  margin-top: 5px;
}
.ul_step li {
  font-family: "helveticaregular";
  display: inline-block;
  padding: 0px 10px;
  color: #000;
}
.ul_step li span {
  color: #b4b4b4;
}
.per_score {
  color: #87c659 !important;
}
.form_section {
  width: 100%;
  min-height: 10px;
  border: 0px solid red;
  padding: 30px 25px;
  min-height: 300px;
}
.formDiv {
  position: relative;
  margin-bottom: 30px;
}
.lbl {
  color: #6c7174;
  font-size: 15px;
  font-family: "helveticaregular";
}
.text_input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-family: "helveticaregular";
  color: #022d38;
  border: 1px solid #cdcece;
  background: #fff;
  border-radius: 3px;
  padding: 10px 12px;
}
.text_input:focus {
  outline: none;
}
.btn_section {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  padding: 10px 25px;
  border-top: 1px solid #ccc;
}
.btn_proceed {
  font-family: "Geneva_Regular";
  font-size: 15px;
  box-shadow: none;
  border: none;
  background: #022d38;
  border-radius: 75px;
  color: #fff;
  padding: 11px 43px;
  /* margin-top: 10px; */
}
.btn_back {
  border: 1px solid #022d38;
  background: #fff;
  color: #022d38;
  margin-right: 25px;
}
.select_height .css-1s2u09g-control,
.select_height .css-1pahdxg-control {
  height: 50px;
  outline: none;
}
.radio_con {
  width: 100%;
  position: relative;
}

.formlbl {
  font-size: 15px;
  font-family: "helveticabold";
  color: #022d38;
  margin: 0px;
}
.line_form {
  border-top: 2px solid;
  border-color: #707070;
}
.txtbankInfo {
  border: 1px solid #cdcece;
  background: #fff;
  padding: 10px 20px;
  margin: 20px auto;
  transition: border ease 0.3s;
  border-radius: 10px;
}
.addNominee,
.addNominee:hover {
  display: inline-table;
  transition: border ease 0.3s;
  background: #fff;
  border: 1px solid #cdcece;
  border-radius: 30px;
  padding: 5px 15px;
  color: #cdcece;
  font-family: "Geneva_Regular";
  text-decoration: none;
}
.bankInfo {
  color: #6c7174;
  font-size: 14px;
  margin: 0px;
  padding-left: 35px;
  position: relative;
  font-family: "helveticaregular";
}
.bankInfo .abso_BankCheck {
  position: absolute;
  left: 0;
  top: 5px;
}
.previewInfo {
  color: #0b4858;
  font-size: 15px;
  margin: 20px 0px;
  font-family: "helveticaregular";
}
.headlinePrev {
  background: #f1f3f6;
  height: 55px;
  display: block;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.head_prev {
  font-family: "helveticaregular";
  font-size: 15px;
}
.prelbl {
  font-family: "helveticaregular";
  font-size: 15px;
  color: #6c7174;
  margin-bottom: 7px;
}
.prevValue {
  font-family: "helveticabold";
  font-size: 15px;
  color: #0b4858;
  margin-bottom: 7px;
}
.prevSec {
  display: block;
  margin-bottom: 30px;
}
.mandateform {
  width: 100%;
  padding: 30px 100px;
}
.congra_text {
  font-family: "helveticabold";
  font-size: 18px;
  color: #022d38;
  margin: 20px auto;
}
.congra_text span {
  color: #87c659;
}
.conSucc_text {
  color: #6c7174;
  font-size: 15px;
  margin: 15px 0px;
  font-family: "helveticaregular";
}
.conSucc_text span {
  color: #0f88a7;
}
.madate_box {
  width: 100%;
  height: 165px;
  border: 1px solid #bcedf9;
  background: #fff;
  border-radius: 5px;
  padding: 30px 30px;
}
.madate_box p {
  font-family: "helveticabold";
  margin-bottom: 0px;
  color: #09404e;
  margin-top: 10px;

  font-size: 14px;
}
.madate_box span {
  font-family: "helveticaregular";
  font-size: 12px;
  display: inline-table;
  color: #6c7174;
}
/* radio button start */
.radio_con .radio_inline {
  margin-bottom: 0px;
  display: inline-block;
}
.radio_con .radio_marg {
  margin-right: 10px;
}
.radioForm [type="radio"]:checked,
.radioForm [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radioForm [type="radio"]:checked + .radioForm_label,
.radioForm [type="radio"]:not(:checked) + .radioForm_label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #194550;
  font-family: "helveticaregular";
}
.radioForm [type="radio"]:checked + .radioForm_label:before,
.radioForm [type="radio"]:not(:checked) + .radioForm_label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.radioForm [type="radio"]:checked + .radioForm_label:after,
.radioForm [type="radio"]:not(:checked) + .radioForm_label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #0f88a7;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radioForm [type="radio"]:not(:checked) + .radioForm_label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radioForm [type="radio"]:checked + .radioForm_label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* radio button end */

/* checkbox started */

.checkboxcontainer input {
  display: none;
}

.checkboxcontainer {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkboxcontainer .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}

.checkboxcontainer input:checked + .checkmark {
  background-color: #87c659;
  border: 1px solid #87c659;
}

.checkboxcontainer input:indeterminate + .checkmark {
  background-color: #87c659;
  border: 1px solid #87c659;
}

.checkboxcontainer input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 11px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.checkboxcontainer input:checked:disabled + .checkmark {
  border: 1px solid grey;
  background-color: grey;
}

.checkboxcontainer input:disabled + .checkmark {
  border: 1px solid grey;
}

.checkboxcontainer input:indeterminate + .checkmark:after {
  content: "";
  position: absolute;
  height: 0px;
  width: 11px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
/* checkbox ended */

/* login start */
.whiteBg_color {
  background: #fff;
  width: 100%;
  min-height: 800px;
}
.login_Wrap {
  width: 100%;
  margin: 0px 0px;
  border: 1px solid #daf6fd;
  background: #fff;
  min-height: 200px;
  box-shadow: 0px 1px 4px -1px #daf6fd;
  padding: 50px 40px;
}
.lg_heading {
  text-align: center;
  font-size: 20px;
  font-family: "helveticabold";
  margin-bottom: 30px;
}
.col_login_with {
  width: 100%;
  border: 1px solid #13aad0;
  height: 50px;
  color: #022d38;
  font-family: "helveticaregular";
  font-size: 15px;
  padding: 4px 15px;
  cursor: pointer;
}
.padd_otp {
  padding-top: 10px;
  text-align: center;
}
.or_sign {
  width: 39px;
  height: 39px;
  background: #f1f3f6;
  display: inline-block;
  margin: 20px auto;
  display: block;
  border-radius: 50px;
  padding: 7px;
}
.forgot_link {
  font-size: 15px;
  font-family: "helveticaregular";
  color: #0f88a7;
  margin-bottom: 30px;
  display: inline-block;
  cursor: pointer;
}
.sign_redir {
  color: #6c7174;
  font-size: 17px;
  font-family: "helveticaregular";
  margin-bottom: 0px;
}
.txtError {
  font-family: "helveticaregular";
  font-size: 15px;
  color: red;
}
.sign_redir span {
  color: #022d38;
  font-weight: 700;
}
.sing_head {
  color: #000000;
  font-family: "Geneva_Regular";
  font-size: 24px;
  margin: 0px;
  margin-bottom: 20px;
}
.heading_line_left {
  width: 22%;
  border-bottom: 3px solid #13aad0;
  display: block;
  margin-top: 10px;
}
.para_logi {
  font-family: "Geneva_Regular";
  font-size: 14px;
  color: #000000;
  line-height: 28px;
  margin: 0px;
}
.Block_circle_login {
  list-style: none;
  display: block;
  text-align: left;
  margin: 20px auto;
  padding: 0px;
}
.Block_circle_login li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-table;
  background: #e7f3fc;
  margin-right: 30px;
}
.log_topBt {
  padding: 40px 0px;
}
/* login END */
